.main {
  width: 100%;
  height: 100dvh;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.main h1 {
  font-size: 4rem;
  text-align: center;
}

.main .container_input {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.main label {
  font-size: 2rem;
}

.main .error {
  font-size: 1.4rem;
  color: #ff0000;
}

.main .fact {
  width: 100%;
  max-width: 60rem;
  font-size: 2rem;
  text-align: center;
}
